@model mercharteria.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}
    <br><br><br><br><br><br>
    <h1>Detalles</h1>
    <div class="container">
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="96" height="150"
                       src="@Html.DisplayFor(model => model.ImagenUrl)"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(model => model.Nombre)</h5>
                  <h5 class="card-title">@Html.DisplayFor(model => model.Precio)</h5>
                  <a class="btn btn-primary" asp-controller="Carrito" asp-action="Add" asp-route-id="@Model.Id">Agregar al carrito</a>
                </div>
              </div>
            </div>
    </div>