@model IEnumerable<mercharteria.Models.Categoria>
@{
    ViewData["Title"] = "Crear de Categorías";
    Layout = "_LayoutAdmin";
}

<div class="container-fluid" style="padding: 50px 60px;">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3">Crear Categoría</h1>
        <a asp-action="Admin" class="btn text-white" style="background-color: #050653; border-radius: 12px; padding: 8px 24px;">
            Volver
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input type="text" name="Nombre" class="form-control" id="Nombre" required />
                </div>
                <button type="submit" class="btn text-white" style="background-color: #050653; border-radius: 12px; padding: 8px 24px;">Crear</button>
            </form>
        </div>
    </div>
</div>



