@{
    ViewData["Title"] = "Confirmación de Pago";
}

<h2>¡Pago realizado!</h2>
<ul>
    <li><strong>ID de Pago:</strong> @ViewBag.PaymentId</li>
    <li><strong>Estado:</strong> @ViewBag.Status</li>
    <li><strong>Tipo de Pago:</strong> @ViewBag.PaymentType</li>
    <li><strong>ID de Orden:</strong> @ViewBag.MerchantOrderId</li>
</ul>